<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reactive Forms</title>
</head>

<body>
  <div class="forms" id="forms">
    <h1>Registration Form</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <label for="email">Email:</label>
      <input type="email" formControlName="email" name="email" required>
      <span class="text-danger" *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched">
        <ng-container *ngIf="profileForm.get('email')?.hasError('required')">
          Email is required!
        </ng-container>
        <ng-container *ngIf="profileForm.get('email')?.hasError('pattern')">
          Invalid Email!!
        </ng-container>
      </span>
      <!-- Username -->
      <label for="username">Username:</label>
      <input type="text" formControlName="username" name="username">
      <span class="text-danger" *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched">
        <ng-container *ngIf="profileForm.get('username')?.hasError('required')">
          Username is required!
        </ng-container>
      </span>
      <!-- Password -->
      <label for="password">Password:</label>
      <input id="inp" type="password" formControlName="password" name="password">
      <span class="text-danger" *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched">
        <ng-container *ngIf="profileForm.get('password')?.hasError('required')">
          Password is required!
        </ng-container>
        <ng-container *ngIf="profileForm.get('password')?.hasError('pattern')">
          Invalid password !!
        </ng-container>
      </span>
      <!-- Address -->
      <label for="address">Address:</label>
      <textarea formControlName="address" rows="3" name="address"></textarea>
      <span class="text-danger" *ngIf="profileForm.get('address')?.invalid && profileForm.get('address')?.touched">
        <ng-container *ngIf="profileForm.get('address')?.hasError('required')">
          Address is required!
        </ng-container>
      </span>
      <!-- Pincode -->
      <label for="pincode">Pincode:</label>
      <input type="text" formControlName="pincode" name="pincode">
      <span class="text-danger" *ngIf="profileForm.get('pincode')?.invalid && profileForm.get('pincode')?.touched">
        <ng-container *ngIf="profileForm.get('pincode')?.hasError('required')">
          Pincode is required!
        </ng-container>
        <ng-container *ngIf="profileForm.get('pincode')?.hasError('pattern')">
          Invalid Pincode!!
        </ng-container>
      </span>
      <!-- Button -->
      <div class="btn">
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      </div>

    </form>
  </div>

</body>

</html>